.paginationSplit {
    width: 100%;
    @apply mt-4
}

.paginationList {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
    justify-content: center;
}

@media (min-width: 1024px) {
    .paginationList {
        gap: 0.375rem;
    }
}

.paginationList>*:first-child {
    margin-right: auto;
}

.paginationList>*:last-child {
    margin-left: auto;
}

.paginationItem {
    display: inline-flex;
    height: 100%;
    align-items: center;
    padding: 0.5rem 0.6775rem;
    white-space: nowrap;
    line-height: 1;
    border-radius: 0.25rem;
    text-decoration: none;
    color: #4a5568;
    transition: 0.2s;
}

@media (min-width: 1024px) {
    .paginationItem {
        padding: 0.75rem 1.016rem;
    }
}

.paginationItem:hover:not(.selected):not(.ellipsis) {
    background-color: rgba(17, 24, 39, 0.1);
}

.paginationItem:active {
    transform: translateY(2px);
}

.selected {
    background-color: #1a202c;
    color: #ffffff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    fill: currentColor;
    flex-shrink: 0;
}

.prevIcon {
    margin-right: 0.25rem;
    transform: scaleX(-1);
}

.nextIcon {
    margin-left: 0.25rem;
}

@media (min-width: 1024px) {
    .prevIcon {
        margin-right: 0.375rem;
    }

    .nextIcon {
        margin-left: 0.375rem;
    }
}