.customCheckbox {
    --custom-checkbox-size: 20px;
    --custom-checkbox-radius: 50%; /* 4px */ 
    --custom-checkbox-border-width: 1px;
    --custom-checkbox-marker-size: 18px;
    --checkbox-color: var(--checkbox-color, #4338ca);

    position: relative;
    z-index: 1;
    display: inline-block;
    font-size: var(--custom-checkbox-size);
}

.customCheckbox__input {
    position: relative;
    margin: 0;
    padding: 0;
    opacity: 0;
    height: 1em;
    width: 1em;
    display: block;
    z-index: 1;
}

.customCheckbox__control {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    pointer-events: none;
    transition: transform 0.2s;
    color: rgba(156, 163, 175, 0.65);
    /* text-gray-400/[.65] */
}

.customCheckbox__control::before,
.customCheckbox__control::after {
    content: "";
    position: absolute;
}

.customCheckbox__control::before {
    width: 160%;
    height: 160%;
    background-color: currentColor;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    border-radius: 50%;
    will-change: transform;
    transition: transform 0.2s;
}

.customCheckbox__control::after {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: var(--custom-checkbox-radius);
    box-shadow: inset 0 0 0 var(--custom-checkbox-border-width) currentColor, 0 0.1px 0.3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
}

.customCheckbox__input:checked~.customCheckbox__control::after,
.customCheckbox__input:indeterminate~.customCheckbox__control::after {
    background-color: currentColor;
    background-repeat: no-repeat;
    background-position: center;
    background-size: var(--custom-checkbox-marker-size);
    box-shadow: none;
}

.customCheckbox__input:checked~.customCheckbox__control {
    color: var(--checkbox-color);    /* text-indigo-700 */
}


.customCheckbox__input:checked~.customCheckbox__control::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpolyline points='2.5 8 6.5 12 13.5 3' fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5'/%3E%3C/svg%3E");
}

.customCheckbox__input:indeterminate~.customCheckbox__control::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cline x1='2' y1='8' x2='14' y2='8' fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3E%3C/svg%3E");
}

.customCheckbox__input:active~.customCheckbox__control {
    transform: scale(0.9);
}

.customCheckbox__input:checked:active~.customCheckbox__control,
.customCheckbox__input:indeterminate:active~.customCheckbox__control {
    transform: scale(1);
}

.customCheckbox__input:focus~.customCheckbox__control::before {
    opacity: 0.2;
    transform: translate(-50%, -50%) scale(1);
}

/* Дополнительные стили для иконки, если они нужны */
.customCheckbox--icon {
    --custom-checkbox-size: 32px;
}

.customCheckbox--icon .customCheckbox__control::after {
    display: none;
}

.customCheckbox--icon .icon {
    display: block;
    color: inherit;
    position: relative;
    z-index: 1;
}