@keyframes animateGlow {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 200% 50%;
    }
}

.glowCard {
    position: relative;
}

.glowCard::after {
    position: absolute;
    content: '';
    top: 15px;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    transform: scale(0.9) translateZ(0);
    filter: blur(15px);
    background: linear-gradient(to left,
            #ff5770,
            #e4428d,
            #c42da8,
            #9e16c3,
            #6501de,
            #9e16c3,
            #c42da8,
            #e4428d,
            #ff5770);
    background-size: 200% 200%;
    animation: animateGlow 1.25s linear infinite;
}

.glowList {
    position: relative;
}

.glowList::after {
    position: absolute;
    content: '';
    top: 16px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: -1;
    height: 70%;
    width: 98%;
    transform: scale(1) translateZ(0);
    filter: blur(15px);
    background: linear-gradient(to left,
            #ff5770,
            #e4428d,
            #c42da8,
            #9e16c3,
            #6501de,
            #9e16c3,
            #c42da8,
            #e4428d,
            #ff5770);
    background-size: 200% 200%;
    animation: animateGlow 1.25s linear infinite;
}